## 데이터 셋
- https://www.kaggle.com/datasets/abcsds/pokemon
- 1번은 이상해씨

In [1]:
import pandas as pd

In [6]:
pkm = pd.read_csv('Pokemon.csv', index_col='#')
pkm

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## .str
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html
- 문자열 메소드를 실행할 때는, .str이 먼저 나온다고 생각하자!
- Series와 Index에 대한 벡터화된 문자열 함수
- 반복문을 사용하지 않고도 간단하게 문자열 데이터를 처리할 수 있다. (문자열 검색, 치환, 분리, 결합 등)
- 특정한 메서드에서 다르게 처리하지 않는 한 NA 값은 NA 상태로 유지.
- 단독으로 사용하는 메서드가 아님

In [8]:
pkm['Name'].str

In [12]:
pkm['Type 1'].str

In [16]:
# .str은 형변환이 아니다. 형변환은 .astype() 으로 하자!
pkm['HP'].astype('str').str

## .str.upper(),  .str.lower()
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html
- 보면 Series.upper, Series.lower가 아닌 Series.str.upper, Series.str.lower

In [18]:
# 시리즈가 string(object)여도 문자열 메소드는 바로 동작하지 않는다.
# 시리즈 객체에 upper() 메소드가 없다.
pkm['Name'].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [22]:
# 형변환을 시켜줘도 메소드는 바로 동작하지 않는다.
pkm['Name'].astype(str).upper()

AttributeError: 'Series' object has no attribute 'upper'

In [24]:
# .str.upper()로 해야한다.
pkm['Name'].str.upper()

#
1                  BULBASAUR
2                    IVYSAUR
3                   VENUSAUR
3      VENUSAURMEGA VENUSAUR
4                 CHARMANDER
               ...
719                  DIANCIE
719      DIANCIEMEGA DIANCIE
720      HOOPAHOOPA CONFINED
720       HOOPAHOOPA UNBOUND
721                VOLCANION
Name: Name, Length: 800, dtype: object

In [26]:
# .str.lower()도 실습
pkm['Name'].str.lower()

#
1                  bulbasaur
2                    ivysaur
3                   venusaur
3      venusaurmega venusaur
4                 charmander
               ...
719                  diancie
719      dianciemega diancie
720      hoopahoopa confined
720       hoopahoopa unbound
721                volcanion
Name: Name, Length: 800, dtype: object

## 문자열 슬라이싱

In [28]:
pkm.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [30]:
# Name의 5자만 본다면?
pkm['Name'][0:5]

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [32]:
pkm['Name'].str[0:5]

#
1      Bulba
2      Ivysa
3      Venus
3      Venus
4      Charm
       ...
719    Dianc
719    Dianc
720    Hoopa
720    Hoopa
721    Volca
Name: Name, Length: 800, dtype: object

In [34]:
# 역정렬
pkm['Name'].str[::-1]

#
1                  ruasabluB
2                    ruasyvI
3                   ruasuneV
3      ruasuneV ageMruasuneV
4                 rednamrahC
               ...
719                  eicnaiD
719      eicnaiD ageMeicnaiD
720      denifnoC apooHapooH
720       dnuobnU apooHapooH
721                noinacloV
Name: Name, Length: 800, dtype: object

## .str.contains(pat)
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html

### Series.str.contains(pat, case=True, flags=0, na=None, regex=True)
- 문자열 Series 또는 Index에서 주어진 패턴 또는 정규식이 포함되어 있는지 확인
- 주어진 문자열이나 정규식이 다수의 문자열 요소에 대해 포함 여부를 효과적으로 확인

**parameter**:
- pat: 문자열 또는 정규식 패턴
- case : 대소문자 구분 여부를 지정하는 부울 값. 
    - True면 대소문자를 구분.
- flags : re 모듈에 전달할 플래그. 정규식 패턴의 세부 제어 설정.
    - re.IGNORECASE(re.I) : 대소문자를 구분하지 않고 패턴을 매칭.
    - re.MULTILINE(re.M) : 문자열이 여러 줄로 이루어져 있을 때, 각 줄의 시작과 끝을 패턴 매칭.
    - re.DOTALL(re.S) : 줄바꿈 문자를 포함한 모든 문자와 매칭.
    - re.UNICODE(re.U) : 유니코드 문자 범위를 이해하고 매칭.
    - re.VERBOSE(re.X) : 정규식 패턴을 가독성 있게 작성할 수 있도록 여러 줄과 주석을 사용한다.
- na : 누락된 값에 대한 대체값(채움값). NA데이터를 만낫을 때 어떻게 처리할 건지 설정.
- regex: 패턴을 정규식인지를 파악할 지 설정. 
    - True면 패턴을 정규식으로 해석. 
    - False면 패턴을 리터럴 문자열로 이해하고 처리.

**return**
- 포함 여부에 따라 부울 Series 또는 Index를 반환. 
- 패턴이나 정규식이 포함되어 있는 경우 True로 표시. 
- 포함되어 있지 않은 경우 False로 표시.

In [36]:
# q 탐색 필터(mask랑 비슷), 대소문자 구분O->case t
q_filter=pkm['Name'].str.contains('q', case=True)
q_filter.sum()

8

In [38]:
pkm[q_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False

In [42]:
# q 탐색 필터(mask랑 비슷), 대소문자 구분X
q_filter=pkm['Name'].str.contains('q', case=False)
q_filter.sum()
pkm[q_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False

In [44]:
# saurus(파충류), Dragon(용) -> saur, ragon 이름에 들어간 걸 찾기
o_filter=pkm['Name'].str.contains('saur|ragon', case=False)
pkm[o_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False

이상해씨 라인과 신룡, 망나뇽이 나왔다.

## .str.startswith(), .str.endswith()
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.endswith.html

In [48]:
# 1가지
st_f=pkm['Name'].str.startswith('Q')
pkm[st_f]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False

In [54]:
# 2가지 튜플로전달해야함
st_f2=pkm['Name'].str.startswith(('Q','Pid'))
pkm[st_f2]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False

In [58]:
# 1가지
end_f=pkm['Name'].str.endswith('tle')
pkm[end_f]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
388,Grotle,Grass,NaN,405,75,89,85,55,65,36,4,False
558,Crustle,Bug,Rock,475,70,95,125,65,75,45,5,False

In [60]:
# 2가지
end_f2=pkm['Name'].str.endswith(('tle','gon'))
pkm[end_f2]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False
330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,3,False
372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,3,False
388,Grotle,Grass,NaN,405,75,89,85,55,65,36,4,False
558,Crustle,Bug,Rock,475,70,95,125,65,75,45,5,False
621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,5,False
635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False

## .str.replace()
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html

In [68]:
# 'Fire'를 'Flame'로 변경하기
fire_f=pkm['Type 1'].str.contains('Fire')
pkm[fire_f].head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [72]:
pkm_copy=pkm.copy()
pkm_copy['Type 1']=pkm_copy['Type 1'].str.replace("Fire","Flame")

In [78]:
flame_f=pkm_copy['Type 1'].str.contains('Flame')
pkm_copy[flame_f].head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Flame,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Flame,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Flame,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Flame,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Flame,Flying,634,78,104,78,159,115,100,1,False

## .index.str, .columns.str
- https://pandas.pydata.org/docs/reference/api/pandas.Index.str.html
- .columns.str은 딱히 공식문서 설명이 있는 건 아님.

In [80]:
# 실습을 위해서 Name을 ID로 설정
pkm.set_index("Name" , inplace=True)
pkm

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [84]:
# .index.str
pkm.index.str[:5]

Index(['Bulba', 'Ivysa', 'Venus', 'Venus', 'Charm', 'Charm', 'Chari', 'Chari',
       'Chari', 'Squir',
       ...
       'Noiba', 'Noive', 'Xerne', 'Yvelt', 'Zygar', 'Dianc', 'Dianc', 'Hoopa',
       'Hoopa', 'Volca'],
      dtype='object', name='Name', length=800)

In [90]:
# columns.str
pkm.columns=pkm.columns.str.upper()

In [92]:
pkm.head()

,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False