## 데이터셋
- 고객 성격 분석 : https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis

In [2]:
import pandas as pd

In [6]:
cus = pd.read_csv('marketing_campaign.csv', sep='\t', index_col='ID')
cus

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,...,7,0,0,0,0,0,0,3,11,1
2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,...,5,0,0,0,0,0,0,3,11,0
4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,...,4,0,0,0,0,0,0,3,11,0
6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,...,6,0,0,0,0,0,0,3,11,0
5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,...,5,0,0,0,0,0,0,3,11,0
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,...,6,0,1,0,0,0,0,3,11,0
8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,...,3,0,0,0,0,0,0,3,11,0
9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,...,7,0,0,0,0,0,0,3,11,1

## 복습 - 다자녀(2인 이상)을 확인하려면?

In [12]:
# 마스크로
multiple_child_mask=cus['Kidhome']>=2
cus[multiple_child_mask].head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
7244,1951,Graduation,Single,NaN,2,1,01-01-2014,96,48,5,...,6,0,0,0,0,0,0,3,11,0
8996,1957,PhD,Married,NaN,2,1,19-11-2012,4,230,42,...,9,0,0,0,0,0,0,3,11,0
8442,1985,Master,Married,19510.0,2,0,04-09-2013,63,9,0,...,7,0,0,0,0,0,0,3,11,0
9579,1959,PhD,Married,33762.0,2,1,07-07-2013,61,53,1,...,8,0,0,0,0,0,0,3,11,0
5885,1973,2n Cycle,Married,35688.0,2,1,22-08-2012,94,73,3,...,8,0,0,0,0,0,0,3,11,0

## .where() 를 사용하면 
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.where.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.where.html

조건에 맞는 데이터가 아니면 NA를 반환한다.

In [16]:
cus.where(cus['Kidhome']>=2)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,406.0,0.0,...,7.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,11.0,0.0
7270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# .where()이후 .dropna()
cus.where(cus['Kidhome']>=2).dropna()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
8442,1985.0,Master,Married,19510.0,2.0,0.0,04-09-2013,63.0,9.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
9579,1959.0,PhD,Married,33762.0,2.0,1.0,07-07-2013,61.0,53.0,1.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
5885,1973.0,2n Cycle,Married,35688.0,2.0,1.0,22-08-2012,94.0,73.0,3.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
2795,1958.0,Master,Single,30523.0,2.0,1.0,01-07-2013,0.0,5.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
4370,1966.0,Graduation,Together,43482.0,2.0,1.0,13-11-2013,83.0,18.0,1.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1349,1970.0,Graduation,Married,50447.0,2.0,0.0,21-04-2014,4.0,85.0,7.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10492,1959.0,Graduation,Together,38285.0,2.0,1.0,24-06-2014,96.0,2.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
7264,1978.0,2n Cycle,Single,52195.0,2.0,1.0,12-05-2014,2.0,12.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
3153,1957.0,PhD,Single,40737.0,2.0,1.0,08-12-2013,24.0,11.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
4927,1971.0,Graduation,Together,16626.0,2.0,0.0,15-01-2014,76.0,8.0,3.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
2826,1967.0,Graduation,Married,22574.0,2.0,1.0,28-10-2013,28.0,25.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10350,1950.0,PhD,Married,54432.0,2.0,1.0,09-05-2013,37.0,33.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
2958,1978.0,Graduation,Married,28442.0,2.0,0.0,24-02-2014,53.0,19.0,3.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
2098,1969.0,PhD,Married,33581.0,2.0,0.0,08-01-2013,38.0,11.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
3310,1973.0,2n Cycle,Married,35688.0,2.0,1.0,22-08-2012,94.0,73.0,3.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
8477,1956.0,Graduation,Divorced,26150.0,2.0,1.0,11-03-2013,61.0,5.0,1.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
6222,1967.0,Graduation,Married,22574.0,2.0,1.0,28-10-2013,28.0,25.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
8953,1965.0,Master,Single,35791.0,2.0,1.0,06-05-2013,94.0,27.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
8461,1962.0,Graduation,Divorced,46102.0,2.0,1.0,10-03-2014,3.0,14.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
6961,1974.0,Graduation,Married,26751.0,2.0,0.0,22-05-2014,26.0,1.0,1.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10196,1978.0,Graduation,Married,71427.0,2.0,0.0,12-03-2014,26.0,212.0,123.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
11171,1965.0,Master,Married,56962.0,2.0,1.0,11-10-2013,60.0,292.0,3.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10262,1980.0,Graduation,Married,15072.0,2.0,0.0,10-05-2013,96.0,8.0,2.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
425,1985.0,Graduation,Married,55357.0,2.0,0.0,19-02-2013,66.0,374.0,64.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
4259,1986.0,Master,Single,19485.0,2.0,0.0,24-09-2013,80.0,6.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
8916,1975.0,Graduation,Divorced,36627.0,2.0,0.0,23-07-2013,78.0,9.0,1.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
7023,1953.0,PhD,Single,46231.0,2.0,1.0,26-11-2012,87.0,189.0,2.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
5048,1971.0,PhD,Single,42767.0,2.0,0.0,11-05-2013,53.0,20.0,6.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1734,1968.0,PhD,Together,40706.0,2.0,1.0,17-01-2013,37.0,59.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1600,1965.0,Master,Married,56962.0,2.0,1.0,11-10-2013,60.0,292.0,3.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1010,1977.0,Graduation,Together,46931.0,2.0,1.0,24-04-2014,94.0,41.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1921,1967.0,PhD,Married,59062.0,2.0,1.0,03-10-2013,74.0,46.0,1.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10971,1977.0,Graduation,Single,37774.0,2.0,0.0,03-09-2012,28.0,173.0,8.0,...,9.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,11.0,1.0
10258,1965.0,Master,Single,35791.0,2.0,1.0,06-05-2013,94.0,27.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
5654,1972.0,Graduation,Married,36026.0,2.0,1.0,16-03-2014,34.0,20.0,4.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
5824,1972.0,PhD,Together,34578.0,2.0,1.0,11-04-2014,1.0,7.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
5529,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,406.0,0.0,...,7.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,11.0,0.0
6642,1961.0,Graduation,Divorced,27215.0,2.0,1.0,23-01-2013,50.0,30.0,5.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
2130,1982.0,Graduation,Together,45203.0,2.0,0.0,23-03-2014,4.0,35.0,3.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,1.0
3790,1956.0,Graduation,Together,34633.0,2.0,1.0,23-01-2014,31.0,8.0,1.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
1404,1968.0,Graduation,Together,34916.0,2.0,0.0,15-05-2013,89.0,51.0,23.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
6710,1951.0,Master,Single,58217.0,2.0,1.0,17-11-2012,84.0,68.0,1.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
7007,1968.0,Master,Married,29543.0,2.0,0.0,01-04-2014,47.0,17.0,3.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10104,1974.0,Graduation,Together,33590.0,2.0,1.0,03-11-2013,65.0,4.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
10084,1972.0,Graduation,Married,24434.0,2.0,0.0,18-05-2014,9.0,3.0,2.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0
4001,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,406.0,0.0,...,7.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,11.0,0.0

## 조건에 맞지않는 데이터는 은닉하기

In [22]:
# 방법 1. other로 대체하기
cus.where(cus['Kidhome']>=2, other='--')

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2174,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
4141,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
6182,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
5324,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,...,7,0,0,0,1,0,0,3,11,0
7270,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
8235,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
9405,--,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--

In [24]:
# 방법 2. default인 NA가 되도록 놓거나 other에 None으로 대체하기
cus.where(cus['Kidhome']>=2, other=None)

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
5524,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2174,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4141,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6182,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5324,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10870,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,406.0,0.0,...,7.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,11.0,0.0
7270,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8235,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9405,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN