## 데이터 준비
- https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/

In [32]:
import pandas as pd

In [33]:
cols = ['Released_Year', 'Genre', 'Series_Title', 'Director', 'Meta_score', 'IMDB_Rating', 'No_of_Votes', 'Certificate', 'Gross']

In [34]:
# 가져올 열 지정하기
mdf=pd.read_csv('imdb_top_1000.csv')
mdf=mdf[cols]
mdf

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...,...
995,1961,"Comedy, Drama, Romance",Breakfast at Tiffany's,Blake Edwards,76.0,7.6,166544,A,NaN
996,1956,"Drama, Western",Giant,George Stevens,84.0,7.6,34075,G,NaN
997,1953,"Drama, Romance, War",From Here to Eternity,Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
998,1944,"Drama, War",Lifeboat,Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
999,1935,"Crime, Mystery, Thriller",The 39 Steps,Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

## .nlargest()

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nlargest.html#pandas.DataFrame.nlargest

>**n : int**  
Number of rows to return.

>**columns : label or list of labels**  
Column label(s) to order by.

>**keep : {‘first’, ‘last’, ‘all’}, default ‘first’**  
Where there are duplicate values:

**중복된 값이 있을 경우 우선순위**
- first : prioritize the first occurrence(s)
- last : prioritize the last occurrence(s)
- all : do not drop any duplicates, even it means selecting more than n items.

In [35]:
mdf.nlargest(n=5, columns=['IMDB_Rating'])

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"

nlargest()는 아래 코드를 쉽게 만든거라고도 볼 수 있다.  
nlargest()를 쓰지 않고 코드를 작성해보면 할 수는 있다.

In [36]:
# 이미 공식 문서에 소개된 내용
mdf.sort_values(by='IMDB_Rating', ascending=False).head()

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"

## .nsmallest()

In [38]:
# 1차 정렬 IMDB_Rating
mdf.nsmallest(n=5, columns='IMDB_Rating')

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
877,2019,"Biography, Drama, History",Dark Waters,Todd Haynes,73.0,7.6,60408,PG-13,NaN
878,2018,"Drama, Mystery, Thriller",Searching,Aneesh Chaganty,71.0,7.6,140840,U/A,"26,020,957"
879,2019,"Comedy, Drama",Once Upon a Time... in Hollywood,Quentin Tarantino,83.0,7.6,551309,A,"142,502,728"
880,2017,Drama,Nelyubov,Andrey Zvyagintsev,86.0,7.6,29765,R,"566,356"
881,2017,Drama,The Florida Project,Sean Baker,92.0,7.6,95181,A,"5,904,366"

In [31]:
# 1차 정렬 IMDB_Rating, 2차 정렬 Meta_score
# inplace 가 없다
mdf.nsmallest(n=5, columns=['IMDB_Rating', 'Meta_score'])

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
942,2004,"Drama, Sci-Fi, Thriller",The Butterfly Effect,Eric Bress,30.0,7.6,451479,U,"57,938,693"
917,2008,Drama,Seven Pounds,Gabriele Muccino,36.0,7.6,286770,UA,"69,951,824"
957,1998,"Adventure, Comedy, Drama",Fear and Loathing in Las Vegas,Terry Gilliam,41.0,7.6,259753,R,"10,680,275"
935,2003,"Comedy, Drama, Romance",Jeux d'enfants,Yann Samuell,45.0,7.6,67360,R,"548,707"
932,2004,"Horror, Mystery, Thriller",Saw,James Wan,46.0,7.6,379020,UA,"56,000,369"

## keep=

**중복된 값이 있는 경우**
- first : 첫 번째 등장하는 값들을 우선. (default)
- last : 마지막으로 등장하는 값들을 우선.
- all : 중복된 값을 제거하지 않고 모든 값들을 선택. 이 경우 n보다 더 많은 항목들이 선택될 수 있다.\
          설정된 숫자를 넘어도 (5개이상이여도) 동일값이면 다 보여줌

In [39]:
# IMDB_Rating 최고 7개, 동점의 경우 먼저 등장하는 것부터 우선배치
mdf.nlargest(n=7, columns='IMDB_Rating')

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
5,2003,"Action, Adventure, Drama",The Lord of the Rings: The Return of the King,Peter Jackson,94.0,8.9,1642758,U,"377,845,905"
6,1994,"Crime, Drama",Pulp Fiction,Quentin Tarantino,94.0,8.9,1826188,A,"107,928,762"

In [40]:
# IMDB_Rating 최고 7개, 동점의 경우 끝에있는 것부터 우선배치
mdf.nlargest(n=7, columns='IMDB_Rating' , keep='last')

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
7,1993,"Biography, Drama, History",Schindler's List,Steven Spielberg,94.0,8.9,1213505,A,"96,898,818"
6,1994,"Crime, Drama",Pulp Fiction,Quentin Tarantino,94.0,8.9,1826188,A,"107,928,762"

In [41]:
# IMDB_Rating 최고 7개, 동점의 경우 8개가 넘더라도 추가
mdf.nlargest(n=7, columns='IMDB_Rating' , keep='all')

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
5,2003,"Action, Adventure, Drama",The Lord of the Rings: The Return of the King,Peter Jackson,94.0,8.9,1642758,U,"377,845,905"
6,1994,"Crime, Drama",Pulp Fiction,Quentin Tarantino,94.0,8.9,1826188,A,"107,928,762"
7,1993,"Biography, Drama, History",Schindler's List,Steven Spielberg,94.0,8.9,1213505,A,"96,898,818"

`keep='all'`을 하니 7개를 조회했으나 8개가 나왔다

## .sort_values()
- Series.sort_values : https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html
- DataFrame.sort_values : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
- Series.sort_values보다 DataFrame.sort_values인자가 'by' 하나 더 있다.
- Series는 단일 열이 였지만, DataFrame은 다중 열이기에 어떤 열을 정렬할 지, 정렬하려는 열 정보가 필요

**by : str or list of str**  
Name or list of names to sort by.
- if axis is 0 or ‘index’ then by may contain index levels and/or column labels.
- if axis is 1 or ‘columns’ then by may contain column levels and/or index labels.

In [44]:
mdf.sort_values(by=['IMDB_Rating', 'Meta_score'], ascending=False)

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
...,...,...,...,...,...,...,...,...,...
917,2008,Drama,Seven Pounds,Gabriele Muccino,36.0,7.6,286770,UA,"69,951,824"
942,2004,"Drama, Sci-Fi, Thriller",The Butterfly Effect,Eric Bress,30.0,7.6,451479,U,"57,938,693"
899,2012,"Mystery, Thriller",El cuerpo,Oriol Paulo,NaN,7.6,57549,NaN,NaN
909,2009,"Action, Adventure, Crime",Celda 211,Daniel Monzón,NaN,7.6,63882,NaN,NaN
913,2008,"Drama, Thriller",Die Welle,Dennis Gansel,NaN,7.6,102742,NaN,NaN