## 데이터 준비
- https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/

In [38]:
import pandas as pd

In [39]:
cols = ['Released_Year', 'Genre', 'Series_Title', 'Director', 'Meta_score', 'IMDB_Rating', 'No_of_Votes', 'Certificate', 'Gross']

In [40]:
# 가져올 열 지정하기
mdf=pd.read_csv('imdb_top_1000.csv')
mdf=mdf[cols]
mdf

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...,...
995,1961,"Comedy, Drama, Romance",Breakfast at Tiffany's,Blake Edwards,76.0,7.6,166544,A,NaN
996,1956,"Drama, Western",Giant,George Stevens,84.0,7.6,34075,G,NaN
997,1953,"Drama, Romance, War",From Here to Eternity,Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
998,1944,"Drama, War",Lifeboat,Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
999,1935,"Crime, Mystery, Thriller",The 39 Steps,Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

## .set_index()
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html
- 특정 열을 인덱스로 설정하는 기능을 제공
- 현재 숫자형 인덱스를 다른 열로 지정해보자.

In [41]:
# 영화 제목을 인덱스로 설정하면
mdf.set_index('Series_Title')

,Released_Year,Genre,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
Series_Title,,,,,,,,
The Shawshank Redemption,1994,Drama,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
The Godfather,1972,"Crime, Drama",Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
The Dark Knight,2008,"Action, Crime, Drama",Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
The Godfather: Part II,1974,"Crime, Drama",Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
12 Angry Men,1957,"Crime, Drama",Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",Blake Edwards,76.0,7.6,166544,A,NaN
Giant,1956,"Drama, Western",George Stevens,84.0,7.6,34075,G,NaN
From Here to Eternity,1953,"Drama, Romance, War",Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
Lifeboat,1944,"Drama, War",Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
The 39 Steps,1935,"Crime, Mystery, Thriller",Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

- 비파괴적 처리기 때문에 저장은 안되었다.
- 인덱스 열로 지정되면서 사용된 열이 삭제되었다. (마치 move처럼)
- .set_index도 inplace= 인자를 제공한다.

## .set_index()의 drop=
- .set_index()로 index열을 변경할 때, 인덱스로 지정된 열을 기존 열에서 삭제할 지 여부를 정한다.
- default가 True라서 삭제된다.

In [42]:
# 영화 제목을 인덱스로 설정, drop=False라서 Series_Title이 여전히 열에 있다.
mdf.set_index('Series_Title' , drop=False)

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
Series_Title,,,,,,,,,
The Shawshank Redemption,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
The Godfather,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
The Dark Knight,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
The Godfather: Part II,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
12 Angry Men,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",Breakfast at Tiffany's,Blake Edwards,76.0,7.6,166544,A,NaN
Giant,1956,"Drama, Western",Giant,George Stevens,84.0,7.6,34075,G,NaN
From Here to Eternity,1953,"Drama, Romance, War",From Here to Eternity,Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
Lifeboat,1944,"Drama, War",Lifeboat,Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
The 39 Steps,1935,"Crime, Mystery, Thriller",The 39 Steps,Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

In [43]:
# 영화 제목을 인덱스로 설정, drop=True라서 Series_Title가 열에서 없어졌다.
mdf.set_index('Series_Title' , drop=True)
mdf

,Released_Year,Genre,Series_Title,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,The Shawshank Redemption,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",The Godfather,Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",The Dark Knight,Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",The Godfather: Part II,Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",12 Angry Men,Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...,...
995,1961,"Comedy, Drama, Romance",Breakfast at Tiffany's,Blake Edwards,76.0,7.6,166544,A,NaN
996,1956,"Drama, Western",Giant,George Stevens,84.0,7.6,34075,G,NaN
997,1953,"Drama, Romance, War",From Here to Eternity,Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
998,1944,"Drama, War",Lifeboat,Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
999,1935,"Crime, Mystery, Thriller",The 39 Steps,Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

## df.index.name = 
- Series_Title이란 이름이 어색한 것 같아서 Title로 변경해보자.

In [49]:
# 열 변경 후 저장 -> 열 이름 변경
#mdf=mdf.set_index('Series_Title')
mdf.index.name='Title'
mdf

,Released_Year,Genre,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
Title,,,,,,,,
The Shawshank Redemption,1994,Drama,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
The Godfather,1972,"Crime, Drama",Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
The Dark Knight,2008,"Action, Crime, Drama",Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
The Godfather: Part II,1974,"Crime, Drama",Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
12 Angry Men,1957,"Crime, Drama",Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",Blake Edwards,76.0,7.6,166544,A,NaN
Giant,1956,"Drama, Western",George Stevens,84.0,7.6,34075,G,NaN
From Here to Eternity,1953,"Drama, Romance, War",Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
Lifeboat,1944,"Drama, War",Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
The 39 Steps,1935,"Crime, Mystery, Thriller",Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

## .reset_index()
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
- 인덱스를 초기화합니다.
- 나중에 배울 MultiIndex 작업도 초기화 합니다.

In [50]:
# 비파괴적 처리
mdf.reset_index()

,Title,Released_Year,Genre,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,The Shawshank Redemption,1994,Drama,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,The Godfather,1972,"Crime, Drama",Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",Blake Edwards,76.0,7.6,166544,A,NaN
996,Giant,1956,"Drama, Western",George Stevens,84.0,7.6,34075,G,NaN
997,From Here to Eternity,1953,"Drama, Romance, War",Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
998,Lifeboat,1944,"Drama, War",Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
999,The 39 Steps,1935,"Crime, Mystery, Thriller",Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

직접 속성에 접근해서 변경한 Series_Title -> Title은 유지되고 있다.

## .reset_index()의 drop=
- 기존 인덱스를 데이터 열로 삽입되지않고 삭제됩니다.
- 인덱스는 기본 정수형 인덱스로 재설정됩니다.

In [51]:
mdf.reset_index(drop=True)

,Released_Year,Genre,Director,Meta_score,IMDB_Rating,No_of_Votes,Certificate,Gross
0,1994,Drama,Frank Darabont,80.0,9.3,2343110,A,"28,341,469"
1,1972,"Crime, Drama",Francis Ford Coppola,100.0,9.2,1620367,A,"134,966,411"
2,2008,"Action, Crime, Drama",Christopher Nolan,84.0,9.0,2303232,UA,"534,858,444"
3,1974,"Crime, Drama",Francis Ford Coppola,90.0,9.0,1129952,A,"57,300,000"
4,1957,"Crime, Drama",Sidney Lumet,96.0,9.0,689845,U,"4,360,000"
...,...,...,...,...,...,...,...,...
995,1961,"Comedy, Drama, Romance",Blake Edwards,76.0,7.6,166544,A,NaN
996,1956,"Drama, Western",George Stevens,84.0,7.6,34075,G,NaN
997,1953,"Drama, Romance, War",Fred Zinnemann,85.0,7.6,43374,Passed,"30,500,000"
998,1944,"Drama, War",Alfred Hitchcock,78.0,7.6,26471,NaN,NaN
999,1935,"Crime, Mystery, Thriller",Alfred Hitchcock,93.0,7.6,51853,NaN,NaN

영화 제목(Title) 열이 사라졌다.

## index_col = : 읽어올 때 index열 설정하기

In [53]:
import pandas as pd

In [54]:
cols = ['Released_Year', 'Genre', 'Series_Title', 'Director', 'Meta_score', 'IMDB_Rating', 'No_of_Votes', 'Certificate', 'Gross']

In [55]:
# 가져올 열과 인덱스 열을 지정하기
mdf=pd.read_csv('imdb_top_1000.csv', usecols=cols, index_col='Series_Title')
mdf

,Released_Year,Certificate,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
Series_Title,,,,,,,,
The Shawshank Redemption,1994,A,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469"
The Godfather,1972,A,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411"
The Dark Knight,2008,UA,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444"
The Godfather: Part II,1974,A,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000"
12 Angry Men,1957,U,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000"
...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,1961,A,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,166544,NaN
Giant,1956,G,"Drama, Western",7.6,84.0,George Stevens,34075,NaN
From Here to Eternity,1953,Passed,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,43374,"30,500,000"
Lifeboat,1944,NaN,"Drama, War",7.6,78.0,Alfred Hitchcock,26471,NaN
The 39 Steps,1935,NaN,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,51853,NaN